@import "tailwindcss";


:root {
  --verde-primera: 53 130 43;
  --rojo-primera1: 220 41 30;
  --gris-primera: 141 141 141;
  --negro-primera: 35 35 35;
}

html,
#root {
  height: 100%;
}

body {
  background-color: rgb(var(--gris-primera));
  background-image: radial-gradient(
    #cfcfcf 1px,
    transparent 1px
  );
  background-size: 16px 16px;
}
